body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
}

.inactive { background-color: rgb(255, 156, 156); box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
.active { background-color: rgb(164, 255, 164); box-shadow: none; transform: scale(0.95); }

#button {
    padding: 20px 40px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 12px;
    color: black;
    transition: all 0.12s ease;
}